html{
    scroll-behavior: smooth;
}
.brand-logo{
    width: 50px;
}
body {
    color: white !important;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);


}
#box{
	
}
#image{
    height: 200px;
    padding: 5%;
}
.shop-caption{
    text-align: left;
    color: white;
}
.shop-caption:hover{
    color: white;
}
#box > p{
    text-align: left;
}
#review{
    background-color:transparent;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform .1s;
}
#review:hover{
    transform: scale(1.1);
}
.review{
    justify-content: space-evenly;
}
.review-section{
    text-align: center;
}
.shop-items{
    justify-content: space-evenly;
    align-items: center;
}
.shop-grid{
    width:100%;
	display: flex;
	justify-content: center;
    align-items: center;
}
.navbar-bag{
    float: right ;
}
.nav-link{
    text-transform: uppercase;
}
.nav-link:hover{
    background-color: #FF3CAC;
}
.shop-link{
    color: white;
    background-color: transparent;
    transition: transform .1s;
    outline: none;
    border: none;
    height: 50px;
    width: 50%;
    margin-left: 25%;
}
.shop-link:hover{
    color: white;
    text-decoration: none;
    transform: scale(1.2);
}
.shop-link:active{
    border: none;
    outline: none;
}
.footer{
    text-align: center;
}
.items-img{
    margin-left: 12%;
}
