/* Navbar */
.navbar-light .navbar-brand { 
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.nav-link:hover {
  opacity: 1;
  background-color: #C4B9B9;
}

/* Header */
.homePage {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.homePage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1556374002-a892c2598e99?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(40%);
}
.hero-home {
  position: relative;
  margin: 0.625rem;

}

.homePage {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.home-title {
  font-family: 'Inter', sans-serif;
  text-shadow: 2px 2px 8px #636363;
  font-weight: bolder;
  margin-bottom: 0;

}

.home-subtitle {
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
}

/* Advice */
body {
  text-align: center;
  font-family: 'Inter', sans-serif;

}
h1 {
  margin-top: 100px;
}

#advice {
  padding:100px 20px 100px 20px;
  margin-top: 50px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.speech-bubble {
  position: relative;
  background: #ff9000;
  border-radius: 20px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #ff9000;
  border-right: 0;
  margin-top: -20px;
  margin-right: -20px;
}

/* Footer */
.footer{
  text-align: center;
  margin-left: 50px;
}

.footer p{
  display: inline-block;
  /* margin-left: 10px; */
}

.footerCaption {
  color: black;
}

.footer i{
  display: inline-block;
  margin-left: 10px;
}

.footercol1{
  text-align: left;
  margin-left: 20px;
}

.subscribe{
  background-color:#C4B9B9;
  border: white;
}

.btn-primary:hover{
  background-color: #A9A3A3 !important;
  color: white !important;
}