/* NavBar */
.navbar-light .navbar-brand {
 font-family: 'Bebas Neue', cursive;
 font-size: 30px;
}

.nav-link:hover {
  opacity: 1;
  background-color: #C2EAF0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.head {
  padding: 30px;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  color: #333333;
}

/* Header */
header {
  height: 600px;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1577896851231-70ef18881754?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  text-align: center;
  opacity: 0.9;
}

.caption {
  color: black;
}

/* Home Page Purpose */
.purposeText {
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.purposeCaption {
  color: black;
  text-align: center;
}

.purpose i {
  font-size: 45px;
  padding: 15px 10px;
  color: #C2EAF0;
  width: 90px;
  height: 90px;
}

.purpose span{
  width: 200px;
  height: 40px;
  display: inline-block;
}


.purposetext { 
  color: white;
  margin-top: 30px;
   
} 

/* body{
  height: 600px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  text-align: center;
} */

/* Students Section */
.studentTitle {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.studentPurpose {
  text-align: center;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.card-email {
  font-size: 15px;
  color: white;
  
}

/* Student Images */
.ester {
  width: 50%;
  margin-left: 30px;
}

.dev {
  width: 50%;
  margin-left: 30px; 
}

.johanna {
  width: 60%;
  margin-left: 30px;
}

.richards {
  width: 50%;
  margin-left: 30px;
}

.dawson {
  width: 10%;
  margin-left: 30px;
}

.zora {
  margin-left: 30px;
}

.deena {
  width: 50%;
  margin-left: 30px;
}

.roza {
  margin-left: 30px;
}

.leonard {
  margin-left: 30px;
}

.olivia {
  width: 10%;
  margin-left: 30px;
}

.ryan {
  width: 50%;
  margin-left: 30px;
}

.emma {
  width: 60%;
  margin-left: 30px;
}

.mccann {
  width: 50%;
  margin-left: 30px;
}

.ivonne {
  width: 50%;
  margin-left: 30px;
}

.maccarthy {
  margin-left: 30px;
}

.torres {
  margin-left: 30px;

}

.alexis {
  width: 50%;
  margin-left: 30px;
}

.amanda {
  margin-left: 30px;
}

.emily {
  margin-left: 30px;
}

.neal {
  width: 10%;
  margin-left: 30px;
}


/*Randomizer*/
.randomintro { 
  width: 100%;
  height: 20vh;
  text-align: center;
}

.randomtext { 
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.randomHead {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  margin-top: 50px
}

.randomCaption {
  text-align: center;
}

.guessCaption {
  text-align: center;
}

#text {
  text-align: center;
}

/* Footer */
.footer{
  text-align: center;
  margin-left: 50px;
}

.footer p{
  display: inline-block;
  /* margin-left: 10px; */
}

.footer i{
  display: inline-block;
  margin-left: 10px;
}

.footercol1{
  text-align: left;
  margin-left: 20px;
}


